flask
gunicorn
flask_restx
python-dotenv
requests
transformers==4.48.0
sentence-transformers
torch
faiss-cpu
mlflow
langchain[mistralai]
langchain-community
langgraph
google-cloud-storage
datasets
beautifulsoup4
aiohttp
flask-cors
langchain-huggingface
